*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: .2s ease-in-out;
}
body{
    height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

img{
    object-fit: cover;
}